/*
 * GLOBAL
 */
label {
	margin: 1px 3px;
}

/*
 * GENERAL TIMER
 * NDOCK/KDOCK/NDOCK TIMER
 */
/* deck (expedition) / fleet */
groupbox#timer grid row.fleet {
	background-color: rgba(192,224,255,0.3);
}
groupbox#timer grid row.fleet .timerlabel {
	background-color: rgb(192,224,255);
}

/* ndock */
groupbox#timer grid row.ndock-box {
	background-color: rgba(192,255,192,0.3);
}
groupbox#timer grid row.ndock-box .timerlabel {
	background-color: rgb(192,255,192);
}

/* kdock */
groupbox#timer grid row.kdock-box {
	background-color: rgba(255,224,192,0.3);
}
groupbox#timer grid row.kdock-box .timerlabel {
	background-color: rgb(255,224,192);
}

/* tourabu-deck (expedition) / fleet */
groupbox#timer grid row.tourabu-mission-box {
	background-color: rgba(192,224,255,0.3);
}
groupbox#timer grid row.tourabu-mission-box .timerlabel {
	background-color: rgb(192,224,255);
}

/* tourabu-ndock */
groupbox#timer grid row.tourabu-ndock-box {
	background-color: rgba(192,255,192,0.3);
}
groupbox#timer grid row.tourabu-ndock-box .timerlabel {
	background-color: rgb(192,255,192);
}

/* tourabu-kdock */
groupbox#timer grid row.tourabu-kdock-box {
	background-color: rgba(255,224,192,0.3);
}
groupbox#timer grid row.tourabu-kdock-box .timerlabel {
	background-color: rgb(255,224,192);
}

/*
 * QUEST INFO
 */
groupbox#quest-list-box grid row {
	border-left-style: solid;
	border-left-width: 3pt;
	border-left-color: rgba(0,0,0,1.0);
	color: black;
}

/* in-progress */
groupbox#quest-list-box grid row[data-inprogress="false"] {
	font-weight: normal;
	color: rgb(68,68,68);
}
groupbox#quest-list-box grid row[data-inprogress="true"] {
	font-weight: bold;
	color: rgb(0,0,0);
}

/* stale */
groupbox#quest-list-box grid row {
}
groupbox#quest-list-box grid row[data-stale="true"] {
	background-color: rgba(221,221,221,0.5);
}

/* 編成*/
groupbox#quest-list-box grid row[data-category="1"] {
	border-left-color: rgb( 34,139, 34);
}
/* 出撃 */
groupbox#quest-list-box grid row[data-category="2"] {
	border-left-color: rgb(255, 69,  0);
}
/* 演習 */
groupbox#quest-list-box grid row[data-category="3"] {
	border-left-color: rgb( 50,205, 50);
}
/* 遠征 */
groupbox#quest-list-box grid row[data-category="4"] {
	border-left-color: rgb(  0,206,209);
}
/* 補給/入渠 */
groupbox#quest-list-box grid row[data-category="5"] {
	border-left-color: rgb(255,215,  0);
}
/* 工廠 */
groupbox#quest-list-box grid row[data-category="6"] {
	border-left-color: rgb(139, 69, 19);
}
/* 改装 */
groupbox#quest-list-box grid row[data-category="7"] {
	border-left-color: rgb(221,160,221);
}
/* 出撃(その2) */
groupbox#quest-list-box grid row[data-category="8"] {
	border-left-color: rgb(255, 69,  0);
}
/* 出撃(その3) */
groupbox#quest-list-box grid row[data-category="9"] {
	border-left-color: rgb(255, 69,  0);
}

/* 工廠(その2) */
groupbox#quest-list-box grid row[data-category="11"] {
	border-left-color: rgb(139, 69, 19);
}
/* 進捗 */
groupbox#quest-list-box grid row label.quest-progress {
	border-left: solid 2pt rgba(255,255,255,0);
	background-repeat: no-repeat;
	border-right: solid 2pt rgba(255,255,255,0);
}
/* 進捗  0% */
groupbox#quest-list-box grid row[data-progress="0"] label.quest-progress {
	border-left-color: rgba(255,255,255,0);
}
groupbox#quest-list-box grid row[data-progress="0"][data-counter="50"] label.quest-progress {
	background-color: transparent;
	background-image: linear-gradient(to right, rgba(255,255,255,0), rgb(136,255,136));
	border-right-color: rgb(136,255,136);
}
groupbox#quest-list-box grid row[data-progress="0"][data-counter="80"] label.quest-progress {
	background-color: transparent;
	background-image: linear-gradient(to right, rgba(255,255,255,0), rgb( 60,179,129));
	border-right-color: rgb( 60,179,129);
}
groupbox#quest-list-box grid row[data-progress="0"][data-counter="100"] label.quest-progress {
	background-color: transparent;
	background-image: linear-gradient(to right, rgba(255,255,255,0), rgb(136,255,255));
	border-right-color: rgb(136,255,255);
}
/* 進捗 50% */
groupbox#quest-list-box grid row[data-progress="50"] label.quest-progress {
	border-left-color: rgb(136,255,136);
	background-color: rgb(136,255,136);
	border-right-color: rgb(136,255,136);
}
groupbox#quest-list-box grid row[data-progress="50"][data-counter="80"] label.quest-progress {
	background-color: transparent;
	background-image: linear-gradient(to right, rgb(136,255,136), rgb( 60,179,129));
	border-right-color: rgb( 60,179,129);
}
groupbox#quest-list-box grid row[data-progress="50"][data-counter="100"] label.quest-progress {
	background-color: transparent;
	background-image: linear-gradient(to right, rgb(136,255,136), rgb(136,255,255));
	border-right-color: rgb(136,255,255);
}
/* 進捗 80% */
groupbox#quest-list-box grid row[data-progress="80"] label.quest-progress {
	border-left-color: rgb( 60,179,129);
	background-color: rgb( 60,179,129);
	border-right-color: rgb( 60,179,129);
}
groupbox#quest-list-box grid row[data-progress="80"][data-counter="100"] label.quest-progress {
	background-color: transparent;
	background-image: linear-gradient(to right, rgb( 60,179,129), rgb(136,255,255));
	border-right-color: rgb(136,255,255);
}
/* 進捗100% */
groupbox#quest-list-box grid row[data-progress="100"] label.quest-progress {
	border-left-color: rgb(136,255,255);
	background-color: rgb(136,255,255);
	border-right-color: rgb(136,255,255);
}
/* 進捗不明 */
groupbox#quest-list-box grid row[data-progress="-1"] label.quest-progress {
	border-left-color: rgb(255,  0,  0);
	background-color: rgb(255,  0,  0);
	border-right-color: rgb(255,  0,  0);
}
groupbox#quest-list-box grid row[data-progress="-1"][data-counter="50"] label.quest-progress {
	background-color: transparent;
	background-image: linear-gradient(to right, rgb(255,  0,  0), rgb(136,255,136));
	border-right-color: rgb(136,255,136);
}
groupbox#quest-list-box grid row[data-progress="-1"][data-counter="80"] label.quest-progress {
	background-color: transparent;
	background-image: linear-gradient(to right, rgb(255,  0,  0), rgb( 60,179,129));
	border-right-color: rgb( 60,179,129);
}
groupbox#quest-list-box grid row[data-progress="-1"][data-counter="100"] label.quest-progress {
	background-color: transparent;
	background-image: linear-gradient(to right, rgb(255,  0,  0), rgb(136,255,255));
	border-right-color: rgb(136,255,255);
}

/*
 * FLEET INFO
 */
grid#shipstatus-grid label {
	width: 3em;
	padding: 0px;
	outline-style: solid;
	outline-width: 2px;
	outline-color: rgba(0,0,0,0);
	border-style: none solid;
	border-width: 0px 4px;
	border-color: rgba(0,0,0,0);
	text-align: center;
}

/*
 * SHIP TABLE
 */
/*
treechildren::-moz-tree-cell {
	border: 1px solid red;
}

treechildren::-moz-tree-cell-text() {
	color: blue;
}
*/

/* condition */
treechildren::-moz-tree-row(shipinfo-tree-row-cond-good) {
	border-right-color: rgb(255,237,128);
}
treechildren::-moz-tree-row(shipinfo-tree-row-cond-normal) {
	border-right-color: rgb(128,128,128);
}
treechildren::-moz-tree-row(shipinfo-tree-row-cond-hidden) {
	border-right-color: rgb(96,96,96);
}
treechildren::-moz-tree-row(shipinfo-tree-row-cond-tired) {
	border-right-color: rgb(64,64,64);
}
treechildren::-moz-tree-row(shipinfo-tree-row-cond-orange) {
	border-right-color: rgb(210,105,30);
}
treechildren::-moz-tree-row(shipinfo-tree-row-cond-red) {
	border-right-color: rgb(255,0,0);
}
treechildren::-moz-tree-row(shipinfo-tree-row-cond-none) {
	border-right-color: rgb(0,0,0);
}
/* fuel and hp */
treechildren::-moz-tree-row {
	border-right-style: dotted;
	border-right-width: 3px;
}
treechildren::-moz-tree-row(shipinfo-tree-row-fill-ok) {
	border-right-style: dotted;
	border-right-width: 5px;
}
treechildren::-moz-tree-row(shipinfo-tree-row-hp-ok) {
	border-right-style: solid;
	border-right-width: 3px;
}
treechildren::-moz-tree-row(shipinfo-tree-row-fill-ok, shipinfo-tree-row-hp-ok) {
	border-right-style: solid;
	border-right-width: 5px;
}

/* sally-area */
treechildren::-moz-tree-row(shipinfo-tree-row-sallyarea-1) {
	border-left-style: solid;
	border-left-width: 3pt;
	border-left-color: rgb(192,192,255);
}
treechildren::-moz-tree-row(shipinfo-tree-row-sallyarea-2) {
	border-left-style: solid;
	border-left-width: 3pt;
	border-left-color: rgb(255,255,192);
}
treechildren::-moz-tree-row(shipinfo-tree-row-sallyarea-3) {
	border-left-style: solid;
	border-left-width: 3pt;
	border-left-color: rgb(255,204,160);
}
treechildren::-moz-tree-row(shipinfo-tree-row-sallyarea-4) {
	border-left-style: solid;
	border-left-width: 3pt;
	border-left-color: rgb(192,255,255);
}

/* ndock */
treechildren::-moz-tree-cell-text(shipinfo-tree-row-ndock-repairing) {
	font-style: italic;
	color: rgb(32,32,32);
}

/* 火力/雷装/対空/装甲 */
treechildren::-moz-tree-cell(shipinfo-tree-cell-karyoku-full) {
	background-color: rgba(255,0,0,0.2);
}
treechildren::-moz-tree-cell(shipinfo-tree-cell-raisou-full) {
	background-color: rgba(0,0,255,0.2);
}
treechildren::-moz-tree-cell(shipinfo-tree-cell-taiku-full) {
	background-color: rgba(255,153,0,0.2);
}
treechildren::-moz-tree-cell(shipinfo-tree-cell-soukou-full) {
	background-color: rgba(255,255,0,0.2);
}

/*
 * MAP INFO
 */
/* Selected Rank */
grid#mapinfo-grid row {
	border-left-style: solid;
	border-left-width: 3pt;
	border-left-color: rgba(0,0,0,0);
}
/* 丁 */
grid#mapinfo-grid row[data-selected-rank="1"] {
	border-left-color: aqua;
}
/* 丙 */
grid#mapinfo-grid row[data-selected-rank="2"] {
	border-left-color: green;
}
/* 乙 */
grid#mapinfo-grid row[data-selected-rank="3"] {
	border-left-color: orange;
}
/* 甲 */
grid#mapinfo-grid row[data-selected-rank="4"] {
	border-left-color: red;
}

/* Progress */
grid#mapinfo-grid row[data-cleared="true"] label {
	font-style: italic;
}

grid#mapinno-grid row label.mapinfo-progress {
	text-align: center;
}

grid#mapinfo-grid row[data-gauge-type="3"] label.mapinfo-progress {
	text-shadow: 0 0 2pt green;
}

grid#mapinfo-grid row[data-gauge-type="2"] label.mapinfo-progress {
	text-shadow: 0 0 2pt red;
}

